<li>
 {{burger_name}}
	<button class="change-sleep" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}DEVOUR{{else}}UNEAT{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>